@media(max-width:768px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        flex-basis: 100%;
    }

    iframe {
        height: 50vh;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #454545, #2c2c2c);
    ;
    color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}

.left,
.right {
    flex-basis: 50%;
    padding: 10px;
}

textarea {
    width: 100%;
    height: calc(33.33%-10px);
    background: #2c2c2c;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
}

iframe {
    width: 100%;
    height: 95%;
    background: #fff;
    border: 0;
    outline: 0;
}

label i {
    margin-right: 10px;
    margin-left: 10px;
}

label {
    display: flex;
    align-items: center;
    background: #333;
    color: #fff;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
}

label:hover {
    background: #444;
    cursor: pointer;
}

textarea:focus {
    border: 2px solid #444;
}

#submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#submit-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#submit-button:active {
    background-color: #388e3c;
    transform: translateY(0);
}

#submit-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(72, 181, 97, 0.8);
}